<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../main/head.html' %}
    <title>search_country_graph_pop</title>
</head>

<body class="text-center">

    <div class="container-fluid">
        {% include '../main/navbar_service.html' %}
        <h3>GDP per capita of {{CountryName}} </h3> 
        Capital : {{img_data.2}}</br>
        <label style = "width:120px;" style = "height:100px;"><img src ="{{flag}}" /></label> <BR/>
        <a  class="btn btn-info" href="https://en.wikipedia.org/wiki/{{CountryName}}">{{CountryName}} 정보 더보기 (LINK)</a> 
        <div id = "chart"></div>  
    </div>

    <script> 
    $(function(){               
        // 1인당 GDP
        var capita = eval('{{capita}}')  //python 문자를 script 배열로 변환
        capita.unshift('{{CountryName}}');
        
        // 년도
        var year1 = ['year1']
        for (var i=1960; i<=2018; i++){
            year1.push(i)

        }
        // 추가로 들어갈 x값과 y값 입력
        var korea_capita = eval('{{korea_capita}}')
        korea_capita.unshift('KOREA');
            
        var year2 = ['year2']
        for (var i=1960; i<=2018; i++){
            year2.push(i)
        }

        // 차트의 x축, y축의 값을 결정
        var chart = c3.generate({
            bindto : '#chart',
            data: {
            xs:{
                '{{CountryName}}':'year1',
                'KOREA':'year2',
            },
                columns: [
                    year1,  // 년도
                    year2, // 한국 년도
                    capita, // 1인당 gdp
                    korea_capita, // 한국 1인당 gdp
                ]
            },
            // 현재 x축의 값을 결정
            axis: { 
                // x축의 높이를 결정
                x: {
                    height: 80,
                    tick: {
                    values: [1960, 1965, 1970, 1975, 1980, 1985,1990,1995,2000,2005,2010,2015,2018],
                    type : 'category'
                    }
                },

                // y축의 범위 결정 및 라벨 제목 설정
                y: { 
                    label: 'GDP (Current USD)',
                    tick: {
                // y축의 포맷 설정 ($,d)를 넣는다 (d= 정수)
                    format: d3.format("$,d"),
                    }    
                    // max: 30000000000000,
                    // min: -100,
                }
            },
            // 그리드의 범위 지정
            // regions: [  
            //     {start:1979, end:1980, class:'foo'},
            //     {start:1980, end:1983, class:'foo1'}
            // ]
            // 차트의 크기 설정
        });
        setTimeout(function () {
            chart.resize({height:500, width:1600})
            }, 0);
            // 그리드 설정
        setTimeout(function () {
            chart.xgrids([
                    {value: 1973, class:'red_text' ,text: '제1차 석유파동(1973)'}, 
                    {value: 1980, class:'red_text' ,text: '제2차 석유파동(1979~1980)'}, 
                    {value: 1983, class:'red_text' ,text: '유럽 경기침체(1980~1983)'}, 
                    {value: 1985, class:'red_text' ,text: '플라자 합의(1985)'}, 
                    {value: 1994, class:'red_text' ,text: '일본 버블경제 붕괴(1994)'},
                    {value: 1997, class:'red_text' ,text: 'IMF(1997)'},
                    {value: 2007, class:'red_text' ,text: '서브프라임 모기지 사태(2007)'},
                    {value: 2011, class:'red_text' ,text: '동일본 대지진(2011)'},
                    {value: 2016, class:'red_text' ,text: '브렉시트(2016)'},
                    {value: 2018, class:'black_text', text: '현재'}
                    
                ]);
            },0);
        })
    </script>        
</body>
</html>
